NEXT_PUBLIC_WORLD_ID_APP_ID=app_your_world_app_id
NEXT_PUBLIC_WORLD_ID_RP_ID=rp_your_world_rp_id
NEXT_PUBLIC_BACKEND_URL=http://localhost:3001
NEXT_PUBLIC_RPC_URL=http://127.0.0.1:8545
NEXT_PUBLIC_BASE_SEPOLIA_RPC_URL=https://sepolia.base.org
NEXT_PUBLIC_ANVIL_RPC_URL=http://127.0.0.1:8545
NEXT_PUBLIC_REGISTRY_ADDRESS=0x0000000000000000000000000000000000000000
