PORT=3001
NODE_ENV=development
CORS_ORIGIN=http://localhost:3000
WORLD_ID_APP_ID=app_your_world_app_id
WORLD_ID_RP_ID=rp_your_world_rp_id
WORLD_ID_SIGNING_KEY=your_64_character_hex_signing_key
WORLD_ID_API_BASE_URL=https://developer.world.org
WALLET_PASS=your_wallet_passphrase
SECRETS_ENC_PATH=../../secrets.enc
AGENT_API_URL=https://api.openai.com/v1/models
BAZANTIC_PAYMENT_HEADER=x-payment-reference
PENDING_REQUEST_TTL_MS=900000
RPC_URL=https://sepolia.base.org
CHAIN_ID=84532
REGISTRY_ADDRESS=0x0000000000000000000000000000000000000000
LISTENER_STARTING_BLOCK=
LISTENER_CONFIRMATIONS=2
LISTENER_POLLING_INTERVAL_MS=4000
